* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}

header {
   height: 100px;
   background-color: rgb(0, 86, 0);
}

header h1 {
   color: white;
   text-align: center;
   line-height: 100px; 
}

main {
   width: 75%;
   margin: auto;
}

main .tabs {
   margin-top: 26px;
   display: flex;
   justify-content: center;
   gap: 1px;
}

.btn {
   width: 120px;
   height: 32px;
   font-size: 14px;
   color: white;
   background-color: rgb(0, 103, 0);
   opacity: 0.4;
   border: none;
   border-radius: 6px ;
}

.btn:hover {
   color: white;
   background-color: green;
   opacity: 0.6;
   cursor: pointer;
}

.active {
   color: white;
   background-color: green;
   opacity: 1;
}

.taskAction {
   margin-top: 32px;
   display: flex;
   justify-content: end;
   gap: 10px;
   align-items: center;
}

.taskAction .addTaskButton {
  opacity: 1;
}

.taskAction input {
   height: 32px;
   border: 1px solid rgb(201, 199, 199);
   border-radius: 4px;
   padding: 10px;
}

#tasks {
   margin-top: 8px;
   list-style: none;
}

#tasks li {
   display: flex;
   flex-wrap:nowrap;
   align-items: center;
   height: 60px;
   background-color: white;
   box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
   margin-top: 8px;
   border-radius: 6px;
}
.task-content button {
   margin: 0 4px;
   width: 60px;
   padding: 4px 0;
   border-radius: 6px;
   border: none;
   font-weight: 600;
   float: right;
}

.task-content button:hover {
   opacity: 0.6;
   cursor: pointer;
}

.task-content .edit {
   background-color: rgb(244, 244, 42);
}

.task-content .delete {
   color: white;
   background-color: red;
}

.task-content .isCompleted {
   margin: 0 8px;
}
button.save {
   background-color: green;
   color: white;
}





